@using MyCloset.ViewModels
@model MyCloset.ViewModels.MyClosetViewModel
@{
	ViewData["Title"] = "Closet";
}  

<h3>Closet</h3>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Stack</th>
			<th>Image</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var ClothingItem in Model.ClothingItems)
		{
			var ClothingImagePath = Model.BlobContainerUri + "/" + ClothingItem.Name + "-cropped.png";
			Console.WriteLine(ClothingImagePath);

			<tr>
				<td>@ClothingItem.Name</td>
				<td>@ClothingItem.Type</td>
				<td>@ClothingItem.StackType</td>
				<td><img src=@ClothingImagePath alt="Sample Image" width="300px" /></td>
			</tr>
		}
	</tbody>
</table>