@using MyCloset.ViewModels

@model MyCloset.ViewModels.MyClosetViewModel
@{
	ViewData["Title"] = "Closet";
}

<div id="outfitbuilder-logo-container">
	<img src="~/images/mainlogo2.png" alt="mycloset-logo" id="outfitbuilder-logo-image"/>
</div>

<div id="outfit-builder">
	<div class="doll-container">
			<partial name="~/Views/Shared/_Doll.cshtml" model="@new Tuple<Doll, Uri>(Model.Doll, Model.BlobContainerUri)"></partial>
	</div>
	
	<div class="clothing-container">
		@{
			// Clothing type list 
			foreach(ClothingType ClothingType in Enum.GetValues(typeof(ClothingType)))
			{
				<div style="display: none" class="clothing-type-tab" id="tab-@Enum.GetName(ClothingType)">
					<partial name="~/Views/Shared/_ClothingForm.cshtml" model="@new Tuple<MyClosetViewModel, ClothingType>(Model, ClothingType)"></partial>
				</div>
			}
		}
	</div>
</div>

@section Scripts {
	<script>
		$(document).ready(function () {
			$('.clothing-checkbox').change(function() {
				var clicked = $(this);
				$.ajax({
						type: "POST",
						url: "MyCloset/OnSelectClothingItem",
						data: {Id: clicked.val()},
						success: function(res)
						{
							$(".doll-container").html(res);
						}
				});
			});
		});

		function openClothingtypeTab(clothingType)
		{
			// Get the selected clothing type tab 
			var selectedClothingTabId = "tab-" + clothingType.toString();
			var selecetedClothingTab = document.getElementById(selectedClothingTabId);

			// Get all other clothing type tabs
			var allClothingTabs = document.getElementsByClassName("clothing-type-tab");

			// set all tabs to hidden
			for(let tab of allClothingTabs)
				tab.style.display = "none";

			// set the selected tab to block 
			if(selecetedClothingTab.style.display === "none")
				selecetedClothingTab.style.display = "block";
			else
				selecetedClothingTab.style.display = "none";
		}
	</script>
}
