@using MyCloset.ViewModels
@using System.Web.Mvc.Ajax

@model MyCloset.ViewModels.MyClosetViewModel
@{
	ViewData["Title"] = "Closet";
}

<div class="doll-container">
		<partial name="~/Views/Shared/_Doll.cshtml" model="@new Tuple<Doll, Uri>(Model.Doll, Model.BlobContainerUri)"></partial>
</div>

<div class="clothing-container">
	@{
		foreach(ClothingType ClothingType in Enum.GetValues(typeof(ClothingType)))
		{
			<partial name="~/Views/Shared/_ClothingForm.cshtml" model="@new Tuple<MyClosetViewModel, ClothingType>(Model, ClothingType)"></partial>
		}
	}
</div>

@section Scripts {
	<script>
		$(document).ready(function () {
			$('.clothing-checkbox').change(function() {
				var clicked = $(this);
				$.ajax({
						type: "POST",
						url: "MyCloset/OnSelectClothingItem",
						data: {Id: clicked.val()},
						success: function(res)
						{
							console.log("successful");
							$(".doll-container").html(res);
						}
				});
			});
		});
	</script>
}
