<!DOCTYPE html>
<html>
    <head>
        <title>MyCloset</title>
    </head>
    <body onload="loadTabs()">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <script src="js/static.js"></script>
        {{{body}}}
    </body>
</html>