<!DOCTYPE html>
<html>
    <head>
        <title>MyCloset</title>
    </head>
    <body>
        <header class="site-logo">
            <a href="/"><h1 class="site-title">MyCloset</h1></a>
        </header>

        {{{body}}}

    </body>
</html>