<!DOCTYPE html>
<script>window.addEventListener("load", myInit, true); function myInit(){loadTabs(); };</script>
<html>
    <head>
        <title>MyCloset</title>
    </head>
    <body>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jua">
        <script src="js/static.js"></script>
        {{{body}}}
    </body>
</html>