<header id="site-logo-container">
    <a href="/">
        <img id="site-logo-img" src="images/mainlogo2.png"/>
    </a>
</header>

<div class="mainpage-link-container" id="buildoutfit-link-container">
    <a href="/outfitbuilder">
        <img class="mainpage-link-img" src="images/buildoutfitbutton.png"/>
    </a>
</div>

<br>

<div class="mainpage-link-container" id="outfitviewer-link-container">
    <a href="/outfitviewer">
        <img class="mainpage-link-img" src="images/viewoutfitsbutton.png"/>
    </a>
</div>