<div class="link-box" id="build-outfit-link">
    <a href="/outfitbuilder">Build an Outfit</a>
</div>

<br>

<div class="link-box" id="existing-outfit-link">
    <a href="/outfitviewer">View Existing Outfits</a>
</div>