
<div id="body-container">
    <img id="doll-img" src="images/doll.png"/>
    <img id="baseclothing-img" src="images/baseclothing.png"/>
</div>

<div id="clothing-container">
    <!--Tabs -->
    <div class="clothing-tab">
        <button class="tab-link">Tops</button>
        <button class="tab-link">Bottoms</button>
        <button class="tab-link">Dresses</button>
        <button class="tab-link">Socks</button>
        <button class="tab-link">Shoes</button>
        <button class="tab-link">Accessories</button>
        <button class="tab-link">Bags</button>
        <button class="tab-link">Outerwear</button>
    </div>

    <!--Tab content-->
    <!--Tops-->
    <div id="tops" class="tabcontent">
        <div class="item-container" id="sample-top">
            <img id="sample-top-img" src="images/whitefrillytee.png"/>
            <input type="checkbox"/>
            <div id='heart' class="button"></div>
        </div>

        <div id="filter-tops" class="filter-container">
            <form>
                <div class="filter-option">
                    <p>Filter By Type</p>
                    <select class="filter-dropdown">
                        <option value="Sweater">Sweater</option>
                        <option value="Sweatshirt">Sweatshirt</option>
                        <option value="Blouse">Blouse</option>
                        <option value="T-Shirt">T-Shirt</option>
                        <option value="Tank-Top">Tank-Top</option>
                        <option value="Other">Other</option>
                    </select>
                </div>

                <div class="filter-option">
                    <p>Filter By Color</p>
                    <select class="filter-dropdown">
                        <option value="White">White</option>
                        <option value="Black">Black</option>
                        <option value="Brown">Brown</option>
                        <option value="Beige">Beige</option>
                        <option value="Gray">Gray</option>
                        <option value="Red">Red</option>
                        <option value="Pink">Pink</option>
                        <option value="Orange">Orange</option>
                        <option value="Yellow">Yellow</option>
                        <option value="Light-Green">Light-Green</option>
                        <option value="Green">Green</option>
                        <option value="Light-Blue">Light-Blue</option>
                        <option value="Blue">Blue</option>
                        <option value="Purple">Purple</option>
                        <option value="Mixed">Mixed</option>
                    </select>
                </div>

                <input type="submit" class="submit-button" name="submit">
            </form>
        </div>
    </div>

    <div id="bottoms" class="tabcontent">
        <p>bottoms</p>

        <div id="filter-bottoms">
            
        </div>
    </div>

    <div id="dresses" class="tabcontent">
        <p>dresses</p>

        <div id="filter-dresses">
            
        </div>
    </div>

    <div id="socks" class="tabcontent">
        <p>Socks</p>

        <div id="filter-socks">
            
        </div>
    </div>

    <div id="accessories" class="tabcontent">
        <p>accessories</p>

        <div id="filter-accessories">
            
        </div>
    </div>

    <div id="bags" class="tabcontent">
        <p>bags</p>

        <div id="filter-bags">
            
        </div>
    </div>

    <div id="outerwear" class="tabcontent">
        <p>outerwear</p>

        <div id="filter-outerwear">
            
        </div>
    </div>
</div>

<div id="additem-container">
    <!-- link to add item page -->
</div>