html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.doll-container {
    position: relative;
    top: 0;
    left: 0;
}

.doll-image {
    position: relative;
    top: 0;
    left: 0;
}

.doll-clothing {
    position: absolute;
    top: 0;
    left: 0;
}