@using MyCloset.Models
@model Tuple<MyCloset.ViewModels.MyClosetViewModel, ClothingType>
@{
}

<form asp-controller="MyCloset"
	  asp-action="OnSelectClothingItem"
	  method="POST">
	@{
		// Clothing form 
		// displays all the clothing of a given clothing type 
		// each can be selected to view on the doll 
		foreach (var ClothingItem in Model.Item1.ClothingItems)
		if (ClothingItem.Type == Model.Item2 && !ClothingItem.IsBase)
		{
			string ClothingImagePath = Model.Item1.BlobContainerUri + "/" + ClothingItem.CroppedImageName;

			<div class="clothing-item">
				<img src=@ClothingImagePath alt=@ClothingItem.NameDecode class="clothing-img" />
				<input type="checkbox"
					   name="Id"
					   value="@ClothingItem.Id"
					   class="clothing-checkbox"
					   id="clothing-check-@ClothingItem.Name" />
			</div>
		}
	}
</form>