@using MyCloset.Models
@model Tuple<MyCloset.ViewModels.MyClosetViewModel, ClothingType>
@{
}

<form asp-controller="MyCloset"
	  asp-action="OnSelectClothingItem"
	  method="POST">
	@{
		foreach (var ClothingItem in Model.Item1.ClothingItems)
		if (ClothingItem.Type == Model.Item2 && !ClothingItem.IsBase)
		{
			string ClothingImagePath = Model.Item1.BlobContainerUri + "/" + ClothingItem.CroppedImageName;

			<input type="checkbox"
				   name="Id"
				   value="@ClothingItem.Id"
				   class="clothing-checkbox"
				   id="clothing-check-@ClothingItem.Name" />

			<img src=@ClothingImagePath alt=@ClothingItem.NameDecode />
		}
	}
</form>